@charset "utf-8";

#company-profile {
  /*  background:url(../../img/about/company-profile-bg.jpg) no-repeat right top;*/
    height:614px;
    margin-top: -100px;
}
.about-main .about-con {
    width:1200px;
    margin:0 auto;
}
.about-main .about-con-left{
    width:550px;
    height:;
    float:left;
    padding:45px 170px 130px 0;
}
.about-main .about-con-left h2{

    font-size:36px;
    color:#e9e9e9;
    font-weight:300;
    margin-bottom:10px;
}
.about-main .about-con-left p{
    text-align:justify;
    line-height:25px;
    color:#555555;
}
.about-main .about-con-left-p{
    border-bottom:1px dashed #bfbfbf;
    margin-bottom:10px;
    margin-top:5px;
    padding-bottom:10px;
}
.about-main .about-con-right{
    padding-top:70px;
}
/*==============================================================公司简介样式结束*/
.about-main .about-us-left2{
    float:left;
    padding:75px 0 80px 0;
}
.about-main .about-us-right2{
    padding:175px 70px;
    width:350px;
    /*height:320px;*/
    float:right;
}
.about-main .about-us-right2 p{
    margin:10px 0;
    font-size:17px;
// display:inline-block;
    color:#555555;
    line-height: 1.4;
    height: 30px;

}
.about-main2 .about-us-right2{
    padding:10px 70px;
    width:350px;
    /*height:320px;*/
    float:right;
}
.about-main2 .about-us-right2 p{
    margin:10px 0;
    font-size:17px;
// display:inline-block;
    color:#555555;
    line-height: 1.4;
    height: 30px;

}
/*==============================================================联系我们样式开始*/
.about-main .about-us-left{
    float:left;
    padding:75px 0 80px 0;
}
.about-main .about-us-right{
    padding:175px 70px;
    width:350px;
    /*height:320px;*/
    float:right;
}
.about-main .about-us-right p{
    margin:10px 0;
    font-size:17px;
   // display:inline-block;
    color:#555555;
        line-height: 1.4;
    height: 30px;

}

.about-main .about-us-right-p1,.about-main .about-us-right-p2,.about-main .about-us-right-p3,.about-main .about-us-right-p4,.about-main .about-us-right-p5{
      padding-left: 35px;
}

.about-main .about-us-right-p1{
    background-position:  0 0;

}
.about-main .about-us-right-p2{
    background-position:  0 -53px;

}
.about-main .about-us-right-p3{
    background-position:  0 -105px;

}
.about-main .about-us-right-p4{
    background-position:  0 -160px;

}
.about-main .about-us-right-p5{
    background-position:  0 -213px;

}



.about-main .about-us-right p span{
    width:26px;
    height:18px;
    display:inline-block;
    padding-right:15px;
}
.about-main .about-us-right h2{
    color:#646464;
    font-size:22px;
    line-height:45px;
    padding-left:30px;
}
/*==============================================================联系我们样式结束*/


/*==============================================================新闻媒体样式开始*/
.about-con-top{
    display:block;
    margin:60px 50%;
    margin-left: 396px;
    width:825px;
    height:36px;
}
.about-main .about-con-top li{
    width:163px;
    height:34px;
   /* border:#dbdbdb 1px solid;*/
    text-align:center;
    line-height:34px;
    float:left;
    cursor:pointer;
    margin-left:-1px;
    font-size: 20px;
}

.about-main .about-con-top{
    width:495px;
    height:36px;}
.about-main .about-con-top  .current{
  /*  background:#00a0e8;
    color:#fff;
    border-radius:3px;*/
    border-bottom: 2px solid #00a0e8;
   

}
.about-main .about-con-top  .current a{
     color: #000000
}
/*.about-main .about-con-bottom ul{
	padding-left:10px;}*/
.about-main .about-con-main > div{
    margin-bottom:140px;
    display:none;
}
.about-main .about-con-main div.current{
    display:block;
}
.about-main .about-con-main div li{
    margin:10px;
    width:950px;
    padding:25px;
    border-left:2px solid #fff;
    cursor:pointer;
}
.about-main .about-con-main div .li01{
    border-left:2px solid #00a0e8;
    background:#fafafa;
}
.about-main .about-con-main div li h3{
    font-size:18px;
    color:#000;
    display:inline-block;
    font-weight:500;
}
.about-main .about-con-main div li:hover{
    border-left:2px solid #00a0e8;
    background:#fafafa;
}

.about-main .about-con-main div li span{
    color:#c8c8c8;
    font-size:16px;
   
    padding-left:10px;
}
.about-main .about-con-main div li p{
    color:#646464;
    font-size:14px;

    padding-top:10px;
    text-overflow:ellipsis;
    line-height:22px;
}
.about-con .yema{
    margin:50px 0 150px 50px;
    width:;
    height:30px;
    text-align:center;
    line-height:30px;

}
.about-con .yema li{
    width:30px;
    height:30px;
    border:1px solid #f0f0f0;
    float:left;color:#343434;
}
.about-con .yema .first{
    background:#00a0e8;
}
.about-con .yema li a{
    color:#343434;
}
.about-con .yema li.cur a { color:#fff;}
.about-con .yema .yma{
    background:#00a0e8;
}
/*==============================================================新闻媒体样式结束*/


/*==============================================================人才招聘样式开始=*/
.about-main .about-con .recruit-top{
    width:1104px;
    height:246px;
    margin:100px auto 80px;
}
.about-main .about-con .recruit-top img{
    float:left;
}
.about-main .about-con .recruit-center p{
    margin:0 auto;
    width:500px;
    height:75px;
    color:#808080;
    text-align:center;
    line-height:20px;
}
.about-main .about-con .recruit-center{
    margin-bottom:80px;
}
.about-main .about-con .recruit-center .drop{
    margin-left:175px;
}
.about-main .about-con .recruit-center .drop #drop-center{
    margin:0 271px 0 305px;
}
.about-main .about-con .recruit-center img{
    margin:0 auto;
    display:block;
}
.about-main .about-con .recruit-bottom{
    margin-bottom:100px;
}
.about-main .about-con .recruit-bottom div{
    padding:0 50px;
    display:none;
}
.about-main .about-con .recruit-bottom div.current{
    display:block;
}
.about-main .about-con .recruit-bottom div dl{
    line-height:25px;
    padding-bottom:30px;
    border-bottom:1px dashed #999;
}
.about-main .about-con .recruit-bottom div h2{
    font-size:16px;
    font-weight:bold;
    color:#232323;
    line-height:55px;
    margin-top:20px;
}
/*==============================================================人才招聘样式结束=*/


/*===============================================================数梦纪样式开始=*/
.about-main .about-con .downmeau{
    margin:40px 0;
}
.about-main .math-main{
    /*margin-bottom:150px;*/
    margin-bottom:100px;
}
.about-main .math-main div{
    margin:0 50px;
    font-size:20px;
    line-height:50px;
    height:50px;
    position:relative;
}
.about-main .math-main div em{
    color:#a4a4a4;
}
.about-main .math-main div span{
    font-size:12px;
    color:#a4a4a4;
    padding-right:15px;
}
.about-main .math-main div p{
    display:inline-block;
    padding-left:15px;
    font-size:14px;
    border-left:1px solid #b8e5f9;
    color:#808080;
}
/*===============================================================数梦纪样式结束=*/


/*===============================================================内页样式开始==*/
.about-main .insidepage{
    margin-bottom:150px;
    padding:0 150px;
}
.about-main .insidepage h2{
    margin:80px auto 60px;
    /*width:420px;
    height:30px;*/
    font-size:24px;
    font-weight:500;
    text-align:center;
}
.about-main .insidepage img{
    /*width:635px;
    height:420px;*/
    margin:30px auto;
    display:block;
}
.about-main .insidepage p{
    font-size:14px;
    color:#646464;
    line-height:25px;
    margin-bottom:20px;
    text-align:justify;
}

.pagesite{ text-align:center; margin-top:50px; background-color:#fafafa;    height: 30px;
    line-height: 30px;}
.pagesite a:link,.pagesite a:visited{ color:#000; text-decoration:none;}
.pagesite a:hover{ text-decoration:none; color:#00A0E8;}
/*===============================================================内页样式结束==*/


#broadcast-madia .about-con-top li a,
#company-activities .about-con-top li a{
    color:#020202;
}
#broadcast-madia .about-con-top li.current a,
#company-activities .about-con-top li.current a{
    
}

#recruit .drop li a { color:#fff;}


