
/*--
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]
[if lte IE 6]>body { behavior:url("csshover.htc"); }<![endif]

--*/
body{ margin:0; padding:0; font-family: "Microsoft YaHei","simsun", Arial, Helvetica, sans-serif; min-width:980px; background:url(../images/top_bg.jpg) repeat-x top #fff; min-width:1200px; }
img { border:none;}
ul,li{ list-style:none; margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
a{ text-decoration:none; outline:none;}
a:active{star:expression(this.onFocus=this.blur());}
#clear{ clear:both; height:0px; overflow:hidden;}
.w1200_center{ width:1100px; margin:1 auto;}
.vertical { width:0; height:100%; display:inline-block;vertical-align:middle;}
.center_img{display:inline-block;text-align: center;vertical-align:middle;border:none;}


#top{height:90px; clear:both; width:100%; margin:0 auto;overflow:hidden; top:0px; z-index:9999; background:#fff;}
#top .w1200_center{ position:relative;}
#top .logo{ float:left; width:220px; margin-top:12px;}
#top .logo a{height:100px; display:block;background:url(../images/logo.png) no-repeat left top; font-size:42px;  color:#444; font-family:"Microsoft YaHei";}
#top .top_tel{ float:right; height:80px; width:350px; overflow:hidden; line-height:999px; color:#333; font-size:14px;background:url(../images/top_tel.png) no-repeat; margin-top:10px;}




#nav{ font-size:12px;height:100px;line-height:100px; z-index:10; display:block;width:735px; margin:0 auto; z-index:9999; float:right; margin-left:50px;}
#nav ul{height:100px; margin-left:5px;float:left;}
#nav  li { position:inherit; float:left;height:100px; margin-left:-1px; border-right:1px solid #eee;border-left:1px solid #eee;}
#nav  li a.dl_a {	display:block;height:87px;line-height:90px;text-align:center;color:#333;font-size:16px; padding:0 20px 0 20px; font-family:"Microsoft YaHei"; float:left;background: url(../images/nav_bg.png) no-repeat left 120px;transition: all 0.4s; padding-bottom:3px;}
#nav li a.dl_a:hover{ color:#189c43; background:url(../images/nav_bg.png) no-repeat left 0;transition: all 0.4s;}
#nav #nav_active a.dl_a{ color:#189c43; border-bottom:3px solid #189c43; padding-bottom:0px;}

#nav .nav_xlbox{width:100%; clear:both; position:absolute; background:#fff;left:0;overflow:hidden; z-index:9999; top:100px; display:none; border-top:1px solid #ddd; line-height:25px;}
#nav li .nav_xlbox .xl_main_w1200{width:100%;max-width:1200px;  margin:40px auto; text-align:left;}
.nav_xlbox .picd{ float:left; max-width:300px; width:30%;}
.nav_xlbox .infod{ float:left; width:40%; margin-left:3%;}
.nav_xlbox .infod .itd{ margin-bottom:15px;}
.nav_xlbox .infod .itd h3{ color:#666;font-weight:normal;height:15px;font-size:14px; line-height:15px; margin:0px; padding:0px;}
.nav_xlbox .infod .itd p{ color:#004098; font-size:16px; height:20px; margin:0px; padding:0px; font-weight:bold; clear:both;}
.nav_xlbox .infod .dep{ font-size:12px; color:#888; line-height:20px;}
.nav_xlbox .linkd{ float:right; width:27%;}
.nav_xlbox .linkd a{ color:#333; display:block; font-size:12px; height:35px; line-height:35px; border-bottom:1px solid #ddd; width:90%; float:left; margin-left:5%; background:url(../images/jtr2.png) no-repeat center right;  border-bottom:1px solid #ddd;}
.nav_xlbox .linkd a:hover{ color:#004098; background:url(../images/jtr3.png) no-repeat center right;}
.nav_xlbox .linkd a.w50{ width:45%;}
.nav_contact_text{ font-size:12px; line-height:22px; color:#999; clear:both; margin-left:5%; padding-top:10px;}

/*---µ¼º½ÏÂÀ­Ê±¹Ì¶¨µ±Ç°×´Ì¬ ---*/
#nav .aNavHover{color:#fff !important;background: url(../images/nav_bg02.png) no-repeat left bottom !important;}

.ss_box{  float:right; border:3px solid #fff; height:45px; margin-left:50px;width:30px; position:absolute; background:#fff; margin-top:20px; right:0px;transition: all 0.5s;}
.ss_box .ss_input{ display:block; width:90%; height:43px; padding-left:10px; display:none; border:none; outline:none;}
.ss_box .ss_an{ width:30px; height:30px; background:url(../images/ss_an.png) no-repeat center ; line-height:999px; overflow:hidden; text-indent:999px; cursor:pointer; float:right;margin-right:10px;transition: all 0.5s; position:absolute; top:7px; right:0px;border:none; outline:none;}
.ss_box .ss_an:hover{background:url(../images/ss_an02.png) no-repeat center #87bd42; border-radius:30px;}
.ss_box:hover{border:3px solid #87bd42;width:300px; }
.ss_box:hover .ss_input{ display:block;}

.case_hd {width:1100px; height:165px; margin:auto;text-align:center; z-index:10; margin-top:0px; z-index:999; position:relative; margin-bottom:0px; }
.case_hdul { overflow:hidden; zoom:1; display:block; height:165px;}
.case_hd li {float:left; _display:inline; text-align:center; transition: all 0.4s; width:366px; height:163px; overflow:hidden; margin-right:0px; cursor:pointer;}
.case_hd li.on { background:#ffb504!important;  opacity:1;}



h1.ind_bt{ text-align:center; font-size:40px; color:#fff; font-weight:normal; margin-bottom:10px;}
h2.ind_ms{ text-align:center; font-size:16px; color:#FFF; font-weight:normal;  letter-spacing:7px;opacity:0.5;}
span.ind_x{ width:50px; height:3px; display:block; margin:25px auto 0 ; background:#fff;}

#ind_box_service{ clear:both; padding-top:60px; background: url(../images/ind_news_bg.jpg) no-repeat center #fff; padding-bottom:20px;}



#ind_service_box .bd{ padding:0px;   }
#ind_service_box .bd ul{ overflow:hidden; zoom:1; }
#ind_service_box .bd ul li{ float:left; _display:inline; overflow:hidden; text-align:center;  }

.ind_service_list{ }
.ind_service_list li{ width:255px; float:left; margin:15px 10px; background:#fff; transition: all 0.5s; overflow:hidden; padding:20px 0 20px 0; border-bottom:3px  solid #189c43; transition: all 0.3s; }
.ind_service_list li .pic{ width:200px; height:200px; margin:10px auto; overflow:hidden;}
.ind_service_list li a img{transition: all 0.5s; width:100%;}
.ind_service_list li  .title{ padding:20px; text-align:center;}
.ind_service_list li  .title a{ font-size:18px;  font-weight:normal; display:block; height:25px; line-height:25px; color:#333; margin-bottom:5px; overflow:hidden;}
.ind_service_list li  .title .ms{ font-size:12px; color:#999; line-height:20px; height:2px; overflow:hidden; background:#189c43; width:40px; margin:auto; margin-top:15px;}

.ind_service_list li:hover{ margin-top:0px;}
.ind_service_list li:hover  .title a{ color:#189c43;}

.ind_zszk_box{ padding-top:60px;}
.zszk_icon{ width:1150px; margin:50px auto;}
.zszk_icon li{ width:355px; float:left; margin-left:20px;transition: all 0.5s; text-align:center; }
.zszk_icon li{}
.zszk_icon li i.icon{  border-radius:5px; display:block; transition: all 0.2s; border:1px solid #ccc; width:80px; height:80px; float:left;}
.zszk_icon li i.icon01{ background:url(../service11.png) no-repeat;}
.zszk_icon li i.icon02{ background:url(../service21.png) no-repeat;}
.zszk_icon li i.icon03{ background:url(../service31.png) no-repeat;}
.zszk_icon li:hover i.icon01,.zszk_icon li a.on i.icon01{background:url(../service12.png) no-repeat #189c43; border:1px solid #189c43;}
.zszk_icon li:hover i.icon02,.zszk_icon li a.on i.icon02{background:url(../service22.png) no-repeat #189c43; border:1px solid #189c43;}
.zszk_icon li:hover i.icon03,.zszk_icon li a.on i.icon03{background:url(../service32.png) no-repeat #189c43; border:1px solid #189c43;}

.zszk_icon li a.on h1{ color:#189c43;}

.zszk_icon li .text{ float:left; margin-left:15px; width:220px; text-align:left; padding-right:20px;}
.zszk_icon li .text h1{ font-size:22px;color:#333; font-weight:normal; margin-top:2px; margin-bottom:0px;}
.zszk_icon li .text p{ font-size:12px; color:#888; line-height:18px; margin-top:5px;}
.zszk_icon li:hover a.icon , a.icon:hover{-moz-transform: rotate(360deg); 
-webkit-transform: rotate(360deg); 
-o-transform: rotate(360deg); 
-ms-transform: rotate(360deg); 
transform: rotate(360deg);}


.slideTxtBox{ width:1200px; margin:40px auto; text-align:left;  }
.slideTxtBox .hd{ height:50px; line-height:50px; position:relative; }
.slideTxtBox .hd ul{ margin:auto; width:410px; height:50px}
.slideTxtBox .hd ul li{ float:left; cursor:pointer; border:1px solid #fff; color:#fff; margin-left:10px; width:180px; border-radius:3px; height:40px; line-height:40px; text-align:center; }
.slideTxtBox .hd ul li.on{   background:#f90; border:1px solid #f90; color:#fff; }
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.ind_news_list{ margin-left:-25px; width:1200px; margin-top:0px; margin:0px auto 0;}
.ind_news_list li{ background:#fff; float:left; width:580px; height:192px; overflow:hidden; margin-top:25px; margin-left:10px; margin-right:10px;}
.ind_news_list li .news_img{ float:left; width:192px; height:192px; overflow:hidden; display:block; margin-right:15px; transition: all 0.5s;}
.ind_news_list li .news_img img{ transition: all 0.5s;}
.ind_news_list li .news_text{ padding:15px; width:320px; float:left;}
.ind_news_list li .news_text span.date{ color:#87bd43; font-size:12px; display:block; height:25px; line-height:25px; margin-top:10px; margin-bottom:15px;}
.ind_news_list li .news_text  a.bt{ font-size:16px; color:#333; display:block; height:30px; line-height:30px; font-weight:bold; margin-bottom:5px;}
.ind_news_list li .news_text .ms{ font-size:12px; color:#666; height:60px; line-height:20px;}
.ind_news_list li:hover img{-webkit-transform:scale(1.2, 1.2); transform:scale(1.2, 1.2);transition: all 0.5s;}
.ind_news_list li .news_text  a.bt:hover{ color:#87bd43;}

.ind_about{ padding:30px; margin-bottom:20px;}
.ind_about_lk{ width:1200px; margin:50px auto; clear:both;}
.x_about_icon{ float:left; width:160px; height:220px; display:block; margin-right:25px; border:2px solid #87bd43; padding:10px; text-align:center; margin-top:15px;transition: all 0.5s;}
.x_about_icon  b{ color:#333; font-size:18px; display:block; margin-top:20px; margin-bottom:15px;}
.x_about_icon  img{ width:85px; height:85px; margin-bottom:20px;}
.x_about_icon p{ font-size:12px; color:#666;}
.x_about_icon:hover{ margin-top:0px;}
.x_about_icon:hover b{ color:#87bd43;}

.ind_about_right{ margin-top:15px; float:right; width:410px; height:175px; background: url(../images/about_tm01.png) no-repeat bottom center #87bd43; padding:35px 30px;}
.about_text{ color:#fff; font-size:12px; line-height:24px;}
#about_text img{ max-width:100%;}
#about_text{ line-height:24px; font-size:12px;}
#about_text .xbt{ font-size:18px; border-left:3px solid #189c43; line-height:18px; height:18px; padding-left:10px; font-weight:normal; color:#333; margin-top:15px; margin-bottom:10px;}


.hs_bt_box b{ color:#333;} 
.hs_bt_box span.x{ background:#87bd43;}

.hzhb_list{ clear:both; width:1200px; margin:30px auto 0;}
.hzhb_list li{ float:left; width:200px; height:70px;}
.hzhb_list li a{ display:block; height:70px; width:200px; border:1px solid #ddd;}

.link_box{ clear:both; width:1160px; margin:20px auto 0; border:1px solid #ddd; padding:20px;}
.link_box h2{ color:#333; font-weight:normal; font-size:18px; margin-bottom:10px;}
.link_box a{ color:#333; text-decoration:none; margin-right:10px; font-size:12px;}
.link_box a:hover{ color:#f30;}





.ind_news_list{ font-size:12px;top:0px; width:100%; float:left;}
.ind_news_list dl{ clear:both;  padding-bottom:10px; margin-bottom:10px; overflow:hidden;}
.ind_news_list dl dd{ float:left; margin-right:10px; width:40%;  max-width:250px; margin-right:15px;}
.ind_news_list dl dd img{ width:100%;}
.ind_news_list dl dt{  position:inherit;}
.ind_news_list dl dt a.bt{ color:#333; font-size:18px; height:20px; line-height:20px; overflow:hidden; display:block; margin-bottom:5px; font-weight:normal;}
.ind_news_list dl dt i{ color:#999; font-style:normal;}
.ind_news_list dl dt a:hover{ color:#ff7e00;}
.ind_news_list dl dt p.ms{ color:#999; font-size:12px; line-height:20px; overflow:hidden; height:60px; margin-bottom:5px; margin-top:15px;}
.ind_news_list dl dt a.more{ color:#999; font-size:12px; }
.ind_news_list dl dt a.more:hover{ color:#ff7e00; }
.ind_news_list dl dt a.more span{font-family:'simsun';}


.ind_date_news_list{ margin-top:10px; font-size:12px; margin-top:5px; clear:both; margin-left:-5%}
.ind_date_news_list li { width:100%;margin-bottom:12px; margin-left:5%; font-family: "Microsoft YaHei"!important;  height:60px; float:left; border-top:1px dashed #ddd; padding-top:12px;}

.ind_date_news_list .datetime {width:50px;height:45px; margin-top:0px;text-align:center;display:block; float:left;font-family:Arial, Helvetica, sans-serif;padding:2px; margin-right:10px;}
.ind_date_news_list .datetime strong{display:block; font-size:40px; line-height:40px;height:40px; color:#0b419b; font-weight:bold;}
.ind_date_news_list .datetime b{font-size:11px; line-height:12px; margin-top:5px; display:block; color:#666; font-weight:normal;}

.ind_date_news_list .cnt { position:inherit;height:80px; padding-top:5px;}
.ind_date_news_list .cnt .bt {font-size: 16px;margin-bottom: 2px; margin-top:5px;color:#444; font-weight:normal;}
.ind_date_news_list p.summary {line-height:20px;margin-top:5px; color:#999; height:20px; overflow:hidden;}

.ind_date_news_list .cnt .bt:hover{ color:#ed6d34;}



.index-news .r{width:35%;height: 350px;overflow: hidden; float:right;}
.index-news .inews-box{width: 100%;float: left; height:145px;margin-bottom:20px;background:#fff; overflow:hidden; padding:10px;}
.index-news .inews-box_img{ float:left; width:45%; display:block;}
.index-news .inews-box_img img{ width:175px; height:145px;}
.index-news .inews-box .detail{width:160px;height: 64px;float: left;padding: 14px 0 0 20px;}
.index-news .inews-box p{line-height: 18px;color: #959595; margin-top:10px; font-size:12px;}
.index-news .inews-box p.fz16{font-size: 16px;line-height: 28px;color: #333;}


.ny_bt{ clear:both; display:none;}
.ny_bt h1.bt{ color:#333; font-size:30px; font-weight:normal; margin-bottom:15px; margin-top:20px;}
.ny_bt span.x{ display:block; width:40px; height:3px; background:#189c43; clear:both; margin-bottom:10px;}
.ny_bt div.ms{ width:450px; font-size:12px; color:#333; line-height:24px; text-transform:Uppercase; letter-spacing:3px;}

.map_box{ height:55px; background:#fff; border-bottom:1px solid #ddd; line-height:55px;}
.map_box .map_bt{ font-size:18px; color:#333; font-weight:normal; border-bottom:1px solid #189c43; height:55px; float:left; margin-left:265px;}
.map_box  .map_path_box{ float:right; text-align:right; font-size:12px;}
.map_box  .map_path_box a{ color:#333;}
.map_box  .map_path_box a:hover{ color:#87bd43;}
.map_box  .map_path_box img{ vertical-align:middle; margin-right:5px; float:left; margin-top:13px;}
.map_box  .map_path_box span{ font-family:ËÎÌå; color:#999; margin:0 5px 0 5px;}
.map_box  .map_path_box .fh{ border-left:1px solid #ddd;  border-right:1px solid #ddd;display:block; height:55px; float:right; margin-left:15px; padding-left:15px; padding-right:15px;font-size:14px; color:#333;}
.map_box  .map_path_box .fh:hover{ background:#87bd43; color:#fff;}

#fengye{ clear:both; margin-bottom:20px; margin-top:20px; padding-bottom:40px; border-bottom:1px solid #ddd; text-align:center;}
div.digg {padding: 3px; margin: 3px;text-align: left; font-size:12px;}
div.digg a {border: #ccc 1px solid; padding:5px 10px 5px 10px; margin: 2px; color: #666;text-decoration: none;}
div.digg a:hover {border: #87bd43 1px solid; color: #fff; background:#87bd43;}
div.digg a:active {border: #87bd43 1px solid; color: #87bd43;}
div.digg span.current {border: #87bd43 1px solid;font-weight: bold;padding:5px 10px 5px 10px; margin: 2px; color: #fff;background-color: #87bd43;}
div.digg span.disabled {border: #ccc 1px solid; padding:5px 10px 5px 10px; margin: 2px;color: #999;}

.pindao_box{ margin-top:60px; clear:both; margin-bottom:20px;}
.pd_left,.pd_center,.pd_right{ width:320px; float:left; overflow:hidden; height:255px; background:#fff; padding:40px;}
.pd_hyzy_right{ width:400px; float:left; height:335px; overflow:hidden;}
.pd_left04{ width:400px; margin-top:25px; float:left; height:250px;}
.pd_left05{ width:720px;height:170px;margin-top:25px; float:left;padding:40px; background:#fff;}



.ny_yqlist{ margin-left:-30px;}
.ny_yqlist li{ margin-left:30px; margin-right:0px; margin-bottom:30px;}

.gjjr_pd_left{ float:left; width:790px; height:490px; background:#fff; position:relative;transition: all 0.5s; overflow:hidden;}
.gjjr_pd_left .pd_left_img{width:790px; height:385px; overflow:hidden; display:block;}
.gjjr_pd_left .pd_left_img img{width:790px; height:385px;transition: all 0.5s;}
.pd_left_text{ padding:30px 30px; position:absolute; height:50px; float:left; bottom:0px; background:#fff; width:730px;transition: all 0.5s;}
.pd_left_text a.biaoti{ font-size:22px; display:block; color:#333; height:26px; line-height:26px; margin-bottom:10px;}
.pd_left_text div.ms{ font-size:14px; color:#666; overflow:hidden;}
.pd_left_text a.more{ width:120px; height:35px; display:block; border:2px solid #87bd43; color:#87bd43; text-align:center; line-height:35px; margin-top:30px;transition: all 0.3s;}
.pd_left_text a.more:hover{ background:#87bd43; color:#fff;}
.gjjr_pd_left:hover .pd_left_text{ height:140px;}
.gjjr_pd_left:hover .pd_left_img img{-webkit-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);transition: all 0.5s;}




.ny_news_list{ font-size:12px;width:1100px; margin:50px auto;}
.ny_news_list dl{ clear:both;  border-bottom:1px solid #ddd; padding-bottom:35px; margin-bottom:35px; overflow:hidden;}
.ny_news_list dl dd{ float:left; margin-right:10px; width:280px; height:210px; overflow:hidden;  margin-right:40px;}
.ny_news_list dl dd img{transition: all 0.5s;}
.ny_news_list dl dt{ position:inherit;}
.ny_news_list dl dt a.bt{ color:#333; font-size:18px; height:30px; line-height:30px; overflow:hidden; display:block; margin-bottom:15px; font-weight:bold;}
.ny_news_list dl dt a:hover{ color:#87bd43;}
.ny_news_list dl dt div.nr_ms{ color:#666; font-size:14px; line-height:25px; overflow:hidden; height:75px; margin-bottom:30px;}
.ny_news_list dl dt a.more{ color:#87bd43; font-size:12px; border:2px solid #87bd43; width:120px; height:35px; display:block; float:left; line-height:35px; text-align:center;}
.ny_news_list dl dt a.more:hover{ color:#fff; background:#87bd43; }
.ny_news_list dl dt a.more span{font-family:'simsun'; margin-left:10px;}
.ny_news_list dl:hover img{-webkit-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);transition: all 0.5s;}


.ny_pro_list02{ width:1170px; margin:auto;}
.ny_pro_list02 dl{padding-bottom:35px; margin-bottom:25px; overflow:hidden; width:540px; float:left; margin-right:0px; margin-left:20px; margin-right:20px;}
.ny_pro_list02 dl dd{ float:left; margin-right:10px; width:280px;overflow:hidden;  margin-right:20px;}
.ny_pro_list02 dl dd img{transition: all 0.5s; width:100%;}
.ny_pro_list02 dl dt{ position:inherit; float:left; width:240px;}
.ny_pro_list02 dl dt a.bt{ color:#333; font-size:18px; height:30px; line-height:30px; overflow:hidden; display:block; margin-bottom:15px; font-weight:bold;}
.ny_pro_list02 dl dt a:hover{ color:#179b43;}
.ny_pro_list02 dl dt div.nr_ms{ color:#666; font-size:12px; line-height:20px; overflow:hidden; margin-bottom:30px;}
.ny_pro_list02 dl dt a.more{ color:#179b43; font-size:12px; border:1px solid #179b43; width:100px; height:35px; display:block; float:left; line-height:35px; text-align:center; border-radius:3px;}
.ny_pro_list02 dl dt a.more:hover{ color:#fff; background:#179b43; }
.ny_pro_list02 dl dt a.more span{font-family:'simsun'; margin-left:10px;}



.prolb_text{ clear:both;font-size:14px; width:1100px; margin:auto; margin-bottom:50px; line-height:24px; border:1px solid #ddd; padding:30px; }

.ny_pro_dbt{ font-size:20px; font-weight:normal; color:#333; border-left:4px solid #189c43; padding-left:10px; height:20px; line-height:20px;}
.ny_pro_list{ margin-left:-15px; width:1140px;}
.ny_pro_list li{ width:258px; float:left; margin:10px 10px; background:#fff; transition: all 0.5s; overflow:hidden; padding:20px 0 20px 0; transition: all 0.3s; border:1px solid #ddd; }
.ny_pro_list li .pic{ width:200px; height:200px; margin:10px auto; overflow:hidden;}
.ny_pro_list li a img{transition: all 0.5s; width:100%;}
.ny_pro_list li  .title{ padding:20px; text-align:center;}
.ny_pro_list li  .title a{ font-size:18px;  font-weight:normal; display:block; height:25px; line-height:25px; color:#333; margin-bottom:5px;}
.ny_pro_list li  .title .ms{ font-size:12px; color:#999; line-height:20px; height:20px; overflow:hidden;}

.ny_pro_list li:hover{ border:1px solid #999;}
.ny_pro_list li:hover  .title a{ color:#189c43;}





.ny_case_list{ font-size:12px;width:1100px; margin:50px auto;}
.ny_case_list dl{ border-bottom:1px solid #ddd; padding-bottom:35px; margin-bottom:35px; overflow:hidden; width:30%; margin-left:1.5%; margin-right:1.5%; float:left;}
.ny_case_list dl dd{margin-right:10px; width:100%;  overflow:hidden; margin-bottom:15px;}
.ny_case_list dl dd img{transition: all 0.5s; width:100%;}
.ny_case_list dl dt{}
.ny_case_list dl dt a.bt{ color:#333; font-size:18px; height:30px; line-height:30px; overflow:hidden; display:block; margin-bottom:15px; font-weight:bold;}
.ny_case_list dl dt a:hover{ color:#87bd43;}
.ny_case_list dl dt div.nr_ms{ color:#666; font-size:13px; line-height:20px; overflow:hidden; height:60px; margin-bottom:30px;}
.ny_case_list dl dt a.more{ color:#87bd43; font-size:12px; border:2px solid #87bd43; width:120px; height:35px; display:block; float:left; line-height:35px; text-align:center;}
.ny_case_list dl dt a.more:hover{ color:#fff; background:#87bd43; }
.ny_case_list dl dt a.more span{font-family:'simsun'; margin-left:10px;}
.ny_case_list dl:hover img{-webkit-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);transition: all 0.5s;}




.ny_case_list02{ font-size:12px;width:1140px; margin:0px auto; margin-left:-20px;}
.ny_case_list02 dl{ width:255px; float:left; margin:10px 10px; background:#fff; transition: all 0.5s; overflow:hidden; padding:0px 0 0px 0; transition: all 0.3s; border:1px solid #ddd; }
.ny_case_list02 dl dd{margin-right:10px; width:100%;  overflow:hidden; margin-bottom:10px;}
.ny_case_list02 dl dd img{transition: all 0.5s; width:100%;}
.ny_case_list02 dl dt{ padding:10px;}
.ny_case_list02 dl dt a.bt{ color:#333; font-size:17px; height:25px; line-height:25px; overflow:hidden; display:block; margin-bottom:5px; font-weight:normal; margin-top:0px;}
.ny_case_list02 dl dt a:hover{ color:#f60;}
.ny_case_list02 dl dt div.nr_ms{ color:#999; font-size:12px; line-height:20px; overflow:hidden; height:40px; margin-bottom:10px;}
.ny_case_list02 dl dt a.more{ color:#87bd43; font-size:12px; border:2px solid #87bd43; width:120px; height:35px; display:none; float:left; line-height:35px; text-align:center;}
.ny_case_list02 dl dt a.more:hover{ color:#fff; background:#87bd43; }
.ny_case_list02 dl dt a.more span{font-family:'simsun'; margin-left:10px;}
.ny_case_list02 dl:hover img{-webkit-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);transition: all 0.5s;}



#nr_main_box{ width:1100px; margin:30px auto; clear:both;}
.about_left{ float:right; width:800px; padding:10px; background:#fff; margin-left:10px;}
.about_right{ float:left; width:230px;}
.about_right .rnav_bt{ height:50px; font-size:28px; color:#fff; margin-top:-60px; margin-bottom:5px; background:#2a599b; padding:50px 55px;}
.about_right .rnav_bt .x{ height:3px; width:40px; background:#fff; display:block; margin-top:20px; margin-bottom:20px;}
.about_right ul{ clear:both;}
.about_right ul li{ height:50px; line-height:50px;color:#333; font-size:14px; margin-bottom:5px;}
.about_right ul li a{ color:#333; text-indent:15px; display:block; background:#eee; }
.about_right ul li a:hover{ background:#ddd;}
.about_right ul li .acvier,.about_right ul li .acvier:hover{ background:#189c43; color:#fff;}

.ny_left_gg{ clear:both; margin-top:15px;}
.ny_left_gg a{ display:block; margin-bottom:10px;}
.ny_left_gg a img{ width:100%;}


.about_dbt{ margin-bottom:10px; font-size:24px; color:#555; margin-top:20px;}
.about_xbt{ font-weight:normal; margin-bottom:20px; font-size:14px; height:auto; line-height:20px; color:#666; border-bottom:1px solid #ddd; padding-bottom:20px;text-transform:Uppercase; letter-spacing:1px;}
#about_text{ font-size:14px; line-height:25px; color:#666;}


#inside_rnewtil{ text-align:center; font-size:28px; color:#333333;width:100%; margin-top:30px; margin-bottom:10px; font-family:"Microsoft YaHei";}
.inside_rnewtime{ text-align:center; font-size:12px; color:#666666; border-bottom:2px solid #87bd43; width:100%; height:30px; line-height:25px;background:#fff; margin-top:0px; margin-bottom:25px; padding-bottom:15px;}
#nrboxstyle{ line-height:30px; color:#666;}
.look_more{ width:180px; height:45px; line-height:45px; display:block; margin:25px auto; border:2px solid #87bd43; color:#87bd43; font-size:18px; text-align:center; border-radius:3px;}


.contactorder_boxform{padding-bottom:30px;}

#order_table{ color:#333; font-size:12px; border:1px solid #ddd; border-collapse:collapse; width:100%; margin-top:20px;}
#order_table td.bt{ width:80px; text-align:right; padding:10px; font-size:14px; vertical-align: central;}
#order_table td { padding:10px; border:1px solid #ddd;}
#order_table td .textbox{ border:1px solid #fff; height:30px; line-height:30px; width:250px; padding-left:5px; outline:none;}
#order_table td  .fx_input td{ border:none; font-size:14px;}

.contact-us{ width:1200px; margin:auto; padding:30px 0 30px 0;}
.company_address{ width:50%; float:left; font-size:14px; line-height:24px;}
.contact-us_info{ width:50%; float:right; margin-bottom:30px; font-size:12px;}

.job_left{ width:650px; float:left;}
.job_right{ float:right; width:365px;}



.job_xxtable{ border:0px; border-collapse:collapse; width:100%; margin-bottom:10px; margin-top:-1px;}
.job_xxtable td{ border:1px solid #ddd; padding:5px; line-height:25px; text-align:center;}
.job_xxtable .bt td{ background:#eee; font-size:14px;}




.ny_tab li{ border:1px solid #ddd; width:19.8%;}
.service_text{ width:1100px; margin:auto; line-height:22px; color:#333; margin-bottom:40px; font-size:12px;}